package templates

templ Hello(name string) {
	@Layout() {
		<div>
			<div class="bg-green-700 p-6">YYYYYYYYYYYYYYYYYYY</div>
			<h1 class="text-red-700 bg-green-500">Hello... { name }</h1>
		</div>
	}
}
